* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.HTML5 {
    display: flex;
    align-items: center;
}

.HTML5 > span {
    margin-left: auto;
}

h3 {
    margin: 20px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 2px;
}

.fa-xl {
    font-size: 2.5em;
    line-height: .04167em;
}

.fa-html5:before {
    content: "\f13b";
}
.fa-xl {
    font-size: 2.3em;
    line-height: 1.04167em;
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: xx-large;
}

.U {
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.post {
    background: white;
    width: 600px;
    border: 1px solid red;
}

.post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-img img {
    max-width: 100%;
    height: auto;
}

.post-icons {
    padding: 10px;
    font-size: 30px;
    display: inline-flex;
    margin-bottom: 9px;
}

.fa-bookmark:before {
    content: "\f02e";
    display: inline-flex;
    margin-left: 439px;
    font-size: 30px;
}

.fa-heart:before {
    content: "\f004";
    margin-right: 7px;
}

.fa-comment:before {
    content: "\f075";
    margin-right: 7px;
}

.post-body {
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 12px;
}

.post-body p {
    margin-top: 0;
    margin-bottom: 15px;
}

.div span {
    position:absolute;
}