div{
    box-sizing: border-box;
    border-color: red;
}
div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.class post-header{
    display: flex;
    
}
.class post-icons{
    display: flex;
}